<div class="home-container">
    <h1>Los mejores productos disponibles a precios increíbles</h1>
    
    <div class="pagination">
        <a href="{{response.prevLink}}" class="pagination-button {{#unless response.hasPrevPage}}disabled{{/unless}}">←
            Anterior</a>
        <span id="currentPage">Página {{response.currentPage}} de {{response.totalPages}}</span>
        <a href="{{response.nextLink}}"
            class="pagination-button {{#unless response.hasNextPage}}disabled{{/unless}}">Siguiente →</a>
    </div>

    <div class="card-container">
        {{#each response.payload}}
        <div class="card">
            <div class="card-image">
                {{!-- <img src="/img/no-image.svg" alt="Imagen de {{title}}"> --}}
                {{#if thumbnails}}
                <img src="{{thumbnails.[0]}}" alt="Imagen de {{title}}">
                {{else}}
                <img src="/img/no-image.svg" alt="Imagen de {{title}}">
                {{/if}}

            </div>
            <div class="card-details">
                <h3 class="card-title">{{title}}</h3>
                <p class="card-description">{{description}}</p>
                <p class="card-price"><strong>Precio:</strong> ${{price}}</p>
                <button class="details-button">Ver detalles</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>